#ascii_art {
    WHITE-SPACE: pre;
    WORD-WRAP: normal;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: 'ＭＳ Ｐゴシック','ＭＳＰゴシック','MSPゴシック','MS Pゴシック','MS PGothic','Trebuchet MS',Verdana,Futura,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18px;
  }

img {
    width: 402px;
    height: 201px;
    margin: 0;
    padding: 0;
  }
  
  .row {
    justify-content: space-between;
  }

.card {
    width:400px;
    background-color: #d8a658;
    margin-bottom: 175px;
    border-radius: 10px;
    border-color: transparent;
}