#detailaa_text_textarea {
    WHITE-SPACE: pre;
    WORD-WRAP: normal;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: 'ＭＳ Ｐゴシック','ＭＳＰゴシック','MSPゴシック','MS Pゴシック','MS PGothic','Trebuchet MS',Verdana,Futura,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18px;
  }